# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
logs/
*.log

# Artifacts
artifacts/vectorizers/*.pkl
artifacts/models/*.pkl
artifacts/metrics/*.json

# Data
data/raw/
data/processed/

# Python Cache
.pytest_cache